.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica", sans-serif;
  background-color: #f7f9fa;
  box-shadow: 0px 5px 30px rgba(119, 119, 119, 0.25);
}

.task-item {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin: 0 0 0.25rem;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.task-item a:hover {
  color: #75b51b !important;
  cursor: pointer;
}
